<div class="navBar">
  <img src="../assets/img/icons/logo-blanco.svg" alt="" class="sidebarLogo" />
  <ul class="menu">
    <li data-url="home" class="active">
      <img src="../assets/img/icons/home.svg" alt="" class="sidebar_icon" />
      Inicio
    </li>
    <li data-url="banners">
      <img src="../assets/img/icons/update.svg" alt="" class="sidebar_icon" />
      Actualizar banner
    </li>
    <li data-url="documentos">
      <img src="../assets/img/icons/add.svg" alt="" class="sidebar_icon" />
      Agregar documento
    </li>
    <li data-url="streaming">
      <img
        src="../assets/img/icons/streaming.svg"
        alt=""
        class="sidebar_icon"
      />
      Streaming
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </li>
    <li data-url="descargar">
      <a
        ><img
          src="../assets/img/icons/down-long.svg"
          alt=""
          class="sidebar_icon"
        />
        Descargar datos
      </a>
    </li>
    <li data-url="descargar">
      <a>
        <img
          src="../assets/img/icons/download.svg"
          alt=""
          class="sidebar_icon"
        />
        Reporte Quorum
      </a>
    </li>
  </ul>
</div>
<div class="leave">
  <a href="/accionistas/home/index.jsp">
    <img src="../assets/img/icons/circle-left-yellow.svg" alt="" />
    Salir
  </a>
</div>
