<div class="navBar">
  <img src="../assets/img/icons/logo-blanco.svg" alt="" class="sidebarLogo" />
  <ul>
    <li data-url="home">Inicio</li>
    <li data-url="banners">Actualizar banner</li>
    <li data-url="documentos">Agregar documento</li>
    <li data-url="streaming">Streaming</li>
    <li data-url="descargar">Descargar datos</li>
  </ul>
</div>
<div class="leave">
  <a href="/accionistas/home/index.jsp">
    <img src="../assets/img/icons/circle-left-yellow.svg" alt="" />
    Salir
  </a>
</div>
