#login {
  background-color: var(--white);
  width: 100%;
  z-index: 10;
  padding-top: 60px;
  max-height: 0px;
  transition: all ease 0.5s;
  overflow: hidden;
}

#login.active {
  padding-top: 100px;
  max-height: 650px;
}

#login .loginClose {
  position: absolute;
  right: 16px;
  top: 0;
  cursor: pointer;
}

#login .loginClose img {
  width: 20px;
  height: auto;
}

#login form {
  max-width: 350px;
  margin: auto;
}

#login form * {
  outline: none;
}

#login form input:not([type="checkbox"]) {
  background-color: var(--gray-light);
  border-radius: 0;
  border: none;
  border-bottom: solid 1px var(--gray);
}

#login form input:hover,
#login form input:active,
#login form input:focus {
  box-shadow: none;
  outline: none;
}

#login input[type="number"] {
  -webkit-appearance: textfield;
}

#login .select-floating {
  background: var(--gray-light);
  border-bottom: 1px solid var(--gray);
}

#login .select-floating select {
  padding: 25px 10px 0 16px;
  background-color: transparent;
  border: 0;
  height: 56px;
  width: 100%;
  border-radius: 1px;
  -webkit-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  font-size: 15px !important;
  position: relative;
  z-index: 3;
}

#login .select-floating img {
  position: absolute;
  width: 15px;
  height: auto;
  top: calc(50% - 5px);
  right: 10px;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform ease-in-out 0.15s;
}

#login .select-floating select:focus ~ img {
  transform: rotate(-180deg);
}

#login .select-floating label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

#login .bbva-checkbox {
  display: flex;
  align-items: flex-end;
}

#login .form-check-input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border-radius: 0;
  border: solid 1px var(--gray);
  margin-right: 10px;
}

#login .form-check-input:checked[type="checkbox"] {
  background-color: var(--white);
  background-image: url(/assets/img/icons/checkmark.svg);
}

#login .form-check-label {
  user-select: none;
}

#login .tooltip-inf {
  width: 25px;
  height: auto;
  margin-left: 15px;
}

#login .eyePassword {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 22px;
  height: auto;
  cursor: pointer;
}

#login .eyePassword.hidden {
  display: none;
}

#login .form-footer {
  margin: 30px 0;
  display: flex;
  row-gap: 25px;
  flex-direction: column;
  align-items: center;
}

#login .form-footer .anotherAccount {
  background: none;
  border: none;
  font-weight: 700;
  display: none;
  color: var(--gray);
}

#login .form-footer a {
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary-dark);
}
