<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 footer-grid">
        <div class="item1 left-logo">
          <img
            src="../assets/img/icons/logo-blanco.svg"
            alt="logo"
            height="30px"
          />
        </div>
        <div class="item3">
          <a href="#" target="_blank" onclick="return false">
            <img
              src="../assets/img/icons/facebook.svg"
              alt="logo"
              height="30px"
            />
          </a>
          <a href="#" target="_blank" onclick="return false">
            <img
              src="../assets/img/icons/twitter.svg"
              alt="logo"
              height="30px"
            />
          </a>
          <a href="#" target="_blank" onclick="return false">
            <img
              src="../assets/img/icons/instagram.svg"
              alt="logo"
              height="30px"
            />
          </a>
          <a href="#" target="_blank" onclick="return false">
            <img
              src="../assets/img/icons/youtube.svg"
              alt="logo"
              height="30px"
            />
          </a>
        </div>
        <div class="item4">
          <p class="mb-0" style="font-size: 12px">© 2022 BBVA Provincial S.A</p>
        </div>
        <div class="item5">
          <a href="#" target="_blank" onclick="return false">Mapa del sitio</a>
          <a href="#" target="_blank" onclick="return false">Mapa del sitio</a>
          <a href="#" target="_blank" onclick="return false">Mapa del sitio</a>
          <a href="#" target="_blank" onclick="return false">Mapa del sitio</a>
        </div>
        <div class="item6">
          <p class="fw-bold mb-0" style="font-size: 12px">
            Creando oportunidades
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
