<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="loginClose"></div>
        <p class="h3 text-center mb-3">¡Bienvenido!</p>
        <form>
          <div class="form-group form-floating select-floating mb-3">
            <select
              id="select_doc"
              name="select_doc"
              class="from-control"
              tabindex="0"
              title="Selecciona el tipo de documento"
            >
              <option value="V" selected>Cédula de identidad</option>
              <option value="P">Pasaporte</option>
              <option value="E">Extranjero</option>
              <option value="C">Carnet diplomático</option>
            </select>
            <img src="../../assets/img/icons/arrow-down.svg" alt="" />
            <label for="select_doc">Tipo de documento</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="tel"
              onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              class="form-control"
              id="floatingInput"
              placeholder="Numero de documento"
            />
            <label for="floatingInput">Número de documento</label>
          </div>
          <div class="form-check mb-3 bbva-checkbox">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Checked checkbox
            </label>
            <img
              src="../../assets/img/icons/info.svg"
              alt=""
              class="tooltip-inf"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-custom-class="bbva-tooltip"
              data-bs-title="Permite recordar en este dispositivo únicamente tu número de documento."
            />
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-footer">
            <a href="#" color="primary">
              ¿Olvidaste o bloqueaste tu contraseña?
            </a>
            <button class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
