<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-12 position-relative pt-4">
        <div class="loginClose activeLogin">
          <img src="../assets/img/icons/close.svg" alt="close" />
        </div>
        <!-- TODO: poner el nombre del usuario para el proximo inicio de sesion, este se extrae despues de que inicia sesion la primera vez y se guarda en el localstorage -->
        <p class="h3 text-center mb-4">&#161;Bienvenido!</p>
        <!-- <form
          id="formLogin"
          method="post"
          action="../AuthenticationServlet2"
          autocomplete="off"
        > -->
        <form id="formLogin" method="post" autocomplete="off">
          <!-- TODO: falta validacion de errores, encriptado y enmascarado de cedula -->
          <div id="fromDocument">
            <div class="form-group form-floating select-floating mb-3">
              <select
                id="type_document"
                name="type_document"
                class="from-control"
                tabindex="0"
                title="Selecciona el tipo de documento"
              >
                <option value="V" selected>C&#233;dula de identidad</option>
                <option value="E">Extranjero</option>
                <option value="J">Jur&#237;dico</option>
                <option value="P">Pasaporte</option>
                <option value="M">Menor de edad</option>
                <option value="CNR">
                  Compa&#241;ia no redidente en el pa&#237;s
                </option>
              </select>
              <img src="../assets/img/icons/arrow-down.svg" alt="" />
              <label for="type_document">Tipo de documento</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="tel"
                class="form-control"
                id="document"
                name="documento"
                placeholder="Numero de documento"
              />
              <label for="document">N&#250;mero de documento</label>
              <input
                type="hidden"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                name="identificacion"
                id="documentHidden"
                autocomplete="off"
                maxlength="20"
                value=""
              />
            </div>
            <div class="form-check mb-3 bbva-checkbox">
              <input
                class="form-check-input"
                type="checkbox"
                id="flexCheckChecked"
              />
              <label class="form-check-label" for="flexCheckChecked">
                Recordar Documento
              </label>
              <img
                src="../assets/img/icons/info.svg"
                alt=""
                class="tooltip-inf"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="bbva-tooltip"
                data-bs-title="Permite recordar en este dispositivo únicamente tu número de documento."
              />
            </div>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
              name="password"
              maxlength="8"
            />
            <label for="floatingPassword">Clave de acceso</label>
            <div id="labelEye" style="display: none">
              <img
                src="../assets/img/icons/icon-show-blue.png"
                alt="show"
                class="eyePassword"
              />
              <img
                src="../assets/img/icons/icon-hide.png"
                alt="hide"
                class="eyePassword hidden"
              />
            </div>
          </div>
          <div class="form-footer">
            <a href="/home/recuperar_clave.html" color="primary">
              &#191;Olvidaste o bloqueaste tu contrase&#241;a?
            </a>
            <button class="anotherAccount" type="button">
              Quiero ingresar con otros datos
            </button>
            <button id="formSubmit" class="btn btn-primary" type="submit">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
