<div class="navBar">
  <img src="../assets/img/icons/logo-blanco.svg" alt="" class="sidebarLogo" />
  <ul class="menu">
    <li data-url="security" class="active">
      <img src="../assets/img/icons/home.svg" alt="" class="sidebar_icon" />
      Inicio
    </li>
    <li data-url="add-user">
      <img src="../assets/img/icons/add.svg" alt="" class="sidebar_icon" />
      Agregar documento
    </li>
  </ul>
</div>
<div class="leave">
  <a href="/accionistas/home/index.jsp">
    <img src="../assets/img/icons/circle-left-yellow.svg" alt="" />
    Salir
  </a>
</div>
